<html lang="en">

<!--main-->
  <%- contentFor('home') %>

   <main id="sitemain">    
        <div class="hero">
            SERVER RUNNING Bitches!
        </div>
   </main>  

   <form action="/" method="post">
    <div>
        <label>Signal Id:</label>
        <input type="text" name="id" required="required"/>
    </div>
    <div>
        <label>Auth Key:</label>
        <input type="password" name="key" required="required"/>
    </div>
    <div>
        <input type="submit" value="Log In"/>
    </div>
</form>